<!--<mat-sidenav-container fullscreen>
    <mat-sidenav #start mode="side" opened="true" class="mat-elevation-z10">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/home']" routerLinkActive="active">
                <span class='glyphicon glyphicon-home'></span> Home
            </a>
            <a mat-list-item [routerLink]="['/counter']" routerLinkActive="active">
                <span class='glyphicon glyphicon-education'></span> Counter
            </a>
            <a mat-list-item [routerLink]="['/fetch-data']" routerLinkActive="active">
                <span class='glyphicon glyphicon-th-list'></span> Fetch data
            </a>
        </mat-nav-list>
        <hr />
        <button mat-button (click)="start.close()">Close</button>
    </mat-sidenav>
    <mat-toolbar color="primary" class="mat-elevation-z10">
        <button mat-icon-button (click)="start.open()">
            <mat-icon>menu</mat-icon>
        </button>
        {{ title }}
    </mat-toolbar>
</mat-sidenav-container>-->


<mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
            <span class='glyphicon glyphicon-dashboard'> Dashboard</span>
        </a>
        <a mat-list-item [routerLink]="['/accessories']" routerLinkActive="active">
            <span class='glyphicon glyphicon-headphones'> Accessories</span>
        </a>
        <a mat-list-item [routerLink]="['/bikes']" routerLinkActive="active">
            <span class='glyphicon glyphicon-education'> Bikes </span>
        </a>
        <a mat-list-item [routerLink]="['/clothing']" routerLinkActive="active">
            <span class='glyphicon glyphicon-tags'> Clothing</span>
        </a>
        <a mat-list-item [routerLink]="['/components']" routerLinkActive="active">
            <span class='glyphicon glyphicon-barcode'> Components</span>
        </a>
    </mat-nav-list>
</mat-sidenav>



