<mat-tab-group mat-stretch-tabs class="demo-tab-group">
    <mat-tab class="tabLabel" label="Mountain Bikes">
        <div class="demo-tab-content">
            <mat-grid-list cols="4">
                <mat-grid-tile *ngFor="let bike of filterBikesOfType(1)">
                    <mat-card class="bike-card">
                        <!--<img mat-card-image class="bike-header-image" src="http://lorempixel.com/200/140/transport/10/">-->
                        <img mat-card-image style="width:200px; height:140px;background-size: cover;" [src]="GetBikeImage(bike.productId)">
                        <mat-card-content>
                            <a [routerLink]="['./mountain',bike.productId]">{{bike.name}}</a> 
                        </mat-card-content>
                        <!--<mat-card-actions>
                            <button mat-raised-button color="accent">BUY</button>
                        </mat-card-actions>-->
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-tab>
    <mat-tab class="tabLabel" label="Road Bikes">
        <div class="demo-tab-content">
            <mat-grid-list cols="4">
                <mat-grid-tile *ngFor="let bike of filterBikesOfType(2)">
                    <mat-card class="bike-card">
                        <!-- <img mat-card-image class="bike-header-image" src="http://lorempixel.com/200/140/transport/10/">-->
                        <img mat-card-image style="width:200px; height:140px;background-size: cover;" [src]="GetBikeImage(bike.productId)">
                        <mat-card-content>
                            <!--{{bike.name}}<br />{{bike.color}}-->
                            <a [routerLink]="['./road',12]">{{bike.name}}</a>

                        </mat-card-content>
                        <!--<mat-card-actions>
                            <button mat-raised-button color="accent">BUY</button>
                        </mat-card-actions>-->
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-tab>
    <mat-tab label="Touring Bikes">
        <div class="demo-tab-content">
            <mat-grid-list cols="4">
                <mat-grid-tile *ngFor="let bike of filterBikesOfType(3)">
                    <mat-card class="bike-card">
                        <img mat-card-image style="width:200px; height:140px;background-size: cover;" [src]="GetBikeImage(bike.productId)">
                        <mat-card-content>
                            <!--{{bike.name}}<br />{{bike.color}}-->
                            <a [routerLink]="['./touring',bike.productId]">{{bike.name}}</a>
                        </mat-card-content>
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-tab>
</mat-tab-group>
<!--<mat-card>
    <router-outlet></router-outlet>
</mat-card>-->
<!--<mat-tab-group>
    <mat-tab label="Tab 1">Content 1</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
</mat-tab-group>-->

<!--</mat-card>-->
