.mat-step-header .mat-step-label.mat-step-label-active {
    color: #fff;
}
.mat-step-header .mat-step-label, .mat-step-header .mat-step-optional {
    color: #777;
}
.mat-stepper-horizontal-line {
    border-top-color: #fff;
}
.mountainbike tbody > tr > td {
    border-top: 0;
    vertical-align:auto;
}
.bike-card {
    width:100%;
}