<mat-card class="bike-card">
    <img mat-card-image [src]="'data:image/png;base64,'+bikeDetails.image">
    <mat-card-content>
        {{bikeDetails.name}}<br />
        {{bikeDetails.color}}<br />
        {{bikeDetails.size}}<br />
        {{bikeDetails.sizeUnitMeasureCode}}<br />
        {{bikeDetails.weight}}"<br />
        {{bikeDetails.weightUnitMeasureCode}}<br />
        {{bikeDetails.listPrice}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent">BUY</button>
    </mat-card-actions>
</mat-card>