<div fxLayout="column" fxLayoutAlign="start stretch">

    <mat-toolbar color="primary" class="mat-elevation-z5 app-toolbar">
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../../dist/awc_logo.png" style="height:70px;padding-top: 5px;margin-top: 24px;"/>
    </mat-toolbar>

</div>
<mat-sidenav-container>
    <!--<nav-menu></nav-menu>-->
    <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
                <span class='glyphicon glyphicon-dashboard'> Dashboard</span>
            </a>
            <a mat-list-item [routerLink]="['/accessories']" routerLinkActive="active">
                <span class='glyphicon glyphicon-headphones'> Accessories</span>
            </a>
            <a mat-list-item [routerLink]="['/bikes']" routerLinkActive="active">
                <span class='glyphicon glyphicon-education'> Bikes </span>
            </a>
            <a mat-list-item [routerLink]="['/clothing']" routerLinkActive="active">
                <span class='glyphicon glyphicon-tags'> Clothing</span>
            </a>
            <a mat-list-item [routerLink]="['/components']" routerLinkActive="active">
                <span class='glyphicon glyphicon-barcode'> Components</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <div class="app-content">
        <!--<mat-card>-->
                <router-outlet></router-outlet>
        <!--</mat-card>-->
    </div>
</mat-sidenav-container>



