@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: Roboto !important;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
   
}

.app-content {
    padding: 20px;
    height: -webkit-fill-available;
    overflow-y: auto;
}
    .app-content mat-card {
        margin: 20px;
    }
.app-sidenav {
    min-width: 180px;
}

/*Loading... styles*/
app-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: pink;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, sans-serif;
    font-size: 2.5em;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

body {
    background: salmon;
    margin: 0;
    padding: 0;
}

@keyframes dots {
    50% {
        transform: translateY(-.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.d {
    animation: dots 1.5s ease-out infinite;
}

.d-2 {
    animation-delay: .5s;
}

.d-3 {
    animation-delay: 1s;
}
/*End of Loading... styles*/

/*.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

    /*
.app-content mat-checkbox {
    margin: 10px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.app-spinner {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.app-input-icon {
    font-size: 16px;
}

.app-list {
    border: 1px solid rgba(0,0,0,0.12);
    width: 350px;
    margin: 20px;
}

.app-progress {
    margin: 20px;
}*/
.mat-elevation-z5 {
    position: relative;
    z-index: 2;
}
mat-sidenav.mat-sidenav-opened, mat-sidenav.mat-sidenav-opening {
    box-shadow: 0 0 0 0 !important;
}
.mat-sidenav {
    background-color: #1c1c1c;
}
.mat-sidenav-container {
    background-color: #111111;
}

.mat-toolbar.mat-primary {
    background-color: #232323;
}
.mat-nav-list .mat-list-item {
    color: rgba(255,255,255,.87);
}
.mat-card {
    background: #424242;
    color: #fff;
}

/*.mat-sidenav-content {
    margin-left: 0px !important;
}*/
/*.mat-sidenav-content{
    margin-left: 150px;
    margin-right: 0px;
    transform: translate3d(0px, 0px, 0px);
}*/
    /*.mat-sidenav-content::-webkit-scrollbar {
        width: 6px !important;
        background-color: #F5F5F5 !important;
    }
    .mat-sidenav-content::-webkit-scrollbar-thumb {
        background-color: #000000 !important;
    }*/

.mat-toolbar-layout {
    position: fixed !important;
}